<td><%= link_to "Back", root_path, class: "btn btn-primary" %></td>
<table class="table table-bordered table-striped">

  <% if admin_signed_in? %>
      <% @users = User.all %>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= button_to('Delete', registration_path(user),
                              method:  :delete,
                              class:   'btn btn-danger',
                              confirm: "Are you sure that you wish to delete #{user.email}?") %></td>

          </tr>
      <% end %>

  <% end %>
</table>